.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Custmize css */
.header {
	width: 100%;
	height: 60px;
	background-color: black;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.header > h1 {
	font-weight: 600;
	font-size: 24px;
	color: white;
}

.body {
	width: 100%;
	height: 100%;
	background-color: rgb(107, 230, 148);
	display: flex;
	align-items: center;
	justify-content: center;
}

p {
	font-weight: 700;
	font-size: 25px;
	color: rgb(0, 0, 0);
	background-color: transparent;
  padding-left: 10%;
  padding-right: 10%;
}
